header{
    background: url('headerprueba.jpg') no-repeat center;
    background-size: cover;
    height: 250px;
    position: relative;
}
header h1{
    color: white;
    text-shadow: 2px 2px #00b9ad;
    text-align: center;
    font-size: 50px; 
    padding: 5%;
    margin: 0%;
}

nav {
    overflow: hidden;
    background-color: #e6e6e6;
  }
  
  nav a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    padding-left: 3%;
    padding-right: 3%;

  }
  
  nav a:hover {
    background-color: rgb(255, 255, 255);
    color: black;
  }
  
  nav a.active {
    background-color: #9FD5D1;
    color: white;
  }
  
  nav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    nav a:not(:first-child) {display: none;}
    nav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    nav.responsive {position: relative;}
    nav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    nav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

.fraseInicial {
    margin-top: 5%;
    font-size: 30px;
    font-style: italic;
    text-align: center;
    padding-left: 8%;
    padding-right: 8%;

}
.autor {
    font-size: 25px;
    text-align: center;
    padding-right: 4%;
    margin-bottom: 7%;
}


.slideshow-container {
    width: 80%;
    position: relative;
    margin: auto;
}  
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 40px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next {
    right: 0;
}
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    font-size: 30px;
}  
.text {
    color: #f2f2f2;
    font-size: 80px;
    padding: 22% 2%;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
    }@-webkit-keyframes fade {
        from {opacity: .4} 
        to {opacity: 1}
    }@keyframes fade {
        from {opacity: .4} 
        to {opacity: 1}
}
    
.presentacion {
    padding-left: 10%;
    margin-top: 5%;
    display: flex;
    align-items: center;
}
.presentacion img {
    height: 60vh;
}
.presentacion p{
    font-size: 20px;
    max-width: 60%;
    margin-left: 2%;
}

.redesSociales iframe {
    margin-top: 5%;
    margin-left: 25%;

}
footer {
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #00b9ad;

}
footer i{
    font-size: 30px;
    padding: 5%
}
footer h6{
    font-size: 20px;
    color: black;  
}
